<div id = "page_wrapper">
	<div id = "profile_image">	
		<%= image_tag "corvid.jpeg"%>
	</div>

	<div id = "content">
		<h1>Hi, I'm Jess</h1>
		<p>Please take have a look at my blog which I've created using Mackenzie Child's youtube tutorial. Hopefully with time, my Ruby on Rails abilities shall improve.</p>
		<p>Find me on Twitter <a href = "http://twitter.com/kohrVid">@kohrVid</a> or on my site <a href = "http://www.kohrVid.com">www.kohrVid.com</a></p>
	</div>
</div>
